@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(251, 252, 253);
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #374151;
}
